* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.nav {
    height: 100%;
    min-width: 320px;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 2px solid rgb(127, 162, 192);
}

.nav-title {
    text-align: center;
    font-size: 1.6em;
    margin: 0.5em;
}

.nav-list {
    height: 90vh;
    padding: 0;
    text-align: left;
    overflow-y: auto;
}

.nav-item {
    list-style: none;
    border-top: 1px solid;
    border-bottom: 1px black;
    padding: 12px 30px;
}

.nav-link {
    text-decoration: none;
    color: black;
}

#main-doc {
    position: absolute;
    margin-left: 320px;
    padding: 20px;
    min-width: 400px;
}

#main-doc h2 {
    font-size: 1.7em;
    margin: 0;
}


.main-section article {
    font-size: 0.93em;
    padding: 15px;
    line-height: 1.6em;
}

article li {
    margin-top: 15px;
}

code {
    
  }

  /* code {
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
  } */


